services:
  argonath:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8083:8081"
    environment:
      - ANTHROPIC_API_URL=https://api.anthropic.com
      - LOGFIRE_TOKEN=${LOGFIRE_TOKEN}
      - OTEL_SERVICE_NAME=argonath-greatloom
    restart: unless-stopped
    dns:
      - ${TAILSCALE_DNS}
      - ${PUBLIC_DNS}
    dns_search:
      - ${TAILSCALE_SEARCH}
